
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div>
    <ul>
        @foreach(string product in ViewBag.products)
        {
            <li><a href="@Url.Action("Details", "Products", new { product = @product }, null)">@product</a></li>
        }
    </ul>
</div>